header {
  width: 100%;
  background-color: white;
  height: 54px;
}

header ul {
  margin: 0 auto;
  list-style: none;
}

header ul a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #777777;
}

header li {
  float: left;
  width: auto;
}

header ul:after {
  content: "";
  display: block;
  clear: both;
}

.main-header {
  padding-bottom: 5%;
  width: 100%;
  background-size: cover;
  background-image: url("images-master/header.jpg");
  background-attachment: fixed;
}

.main-header img {
  display: block;
  margin: 0 auto;
  width: 45%;
  padding-top: 0%;
}



footer {
text-align: center;
color: #777777;
}

.pic{
  text-align: center;
  font-weight:lighter;
  font-size: 600%;
}

.gazo{
  padding-top:0;
  margin-top:0;
}

.flash {
  color: black;
  padding-top: 10px;
}